@import 'src/shared/styles/global'

.sidebar
  width: 260px
  height: 830px
  border-top-right-radius: 20px
  border-bottom-right-radius: 20px
  background: $primary-blue-dark
  font-weight: bold
  font-size: 16px



.activeTab
  background: $main-blue-dark
  width: 220px
  height: 50px
  border-radius: 10px

.logoTitle
  font-size: 56px
  font-weight: bolder
